body{
	background-color: #3d6687;
	min-width: 1920px;
}
.nav .nav-item .nav-link{
	border: none;
	background-color: #175587;
	color: white;
	height: 100px;
	font-size: 20px;
	text-transform: uppercase;
}
.nav .nav-item .nav-link:focus {
    border: none;
    outline: none;
}
.nav .nav-item .nav-link:hover {
    color: lightgrey;
}
.nav .nav-item #new-nums{
	font-weight: 700;
}
.nav{
	background-color: #175587;
}
#nums{
    text-align: center;
}
#nums p{
    margin: 4px;
    width: 30px;
    color: transparent;
    background-color: #3edcf7;
    display: inline-block;
}